.logo-navbar {
  height: 22px;
  width: auto;
}

.text-end {
  text-align: end;
}

.padding-fixed-navbar-200 {
  padding: 200px 0;
}

.padding-fixed-navbar-120 {
  padding: 120px 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.link-btn {
  color: #fff;
}

.btn-delete {
  background-color: #d8dee2;
  font-size: 17px;
  color: #E91F1F;
  padding: 6px 10px;
  border-radius: 4px;
  height: 40px;
  width: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.btn-delete:hover {
  background-color: #ccd1d7;
  color: #E91F1F;
}

.btn-modify {
  background-color: #d8dee2;
  font-size: 17px;
  color: #2C3E50;
  padding: 6px 10px;
  border-radius: 4px;
  height: 40px;
  width: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.btn-modify:hover {
  background-color: #ccd1d7;
  color: #2C3E50;
}

.hero {
  position: relative;
  display: flex;
  background: url("../../img/snow_trick_hero_index.webp") no-repeat center;
  background-size: cover;
  height: 100vh;
  width: auto;
  justify-content: center;
  align-items: center;
  z-index: -2;
}
.hero:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6588235294);
  z-index: -1;
}

.title-hero {
  color: #fff;
  font-weight: 700;
  padding-top: 72px;
}

.btn-down-hero {
  display: flex;
  position: absolute;
  background: #fff;
  color: #2c3e50;
  height: 50px;
  width: 50px;
  bottom: 25px;
  right: 25px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 2;
  justify-content: center;
  align-items: center;
}
.btn-down-hero:hover {
  background: #e2e3ea;
}

.btn-up-hero {
  display: flex;
  position: absolute;
  background: #2c3e50;
  color: #fff;
  height: 50px;
  width: 50px;
  bottom: 25px;
  right: 25px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 2;
  justify-content: center;
  align-items: center;
}
.btn-up-hero:hover {
  background: #17212c;
  color: #fff;
}

.display-tricks {
  padding: 72px 0;
}

.bg-trick {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: url("../../img/snow_trick_hero_index.webp") no-repeat center;
  background-size: cover;
  z-index: -2;
  margin: 0;
  padding: 0;
}
.bg-trick:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6588235294);
  z-index: -1;
}
.bg-trick:after {
  content: "";
  position: absolute;
  height: 400px;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 25%, rgba(255, 255, 255, 0.75) 50%, rgb(255, 255, 255) 95%);
  z-index: -1;
  bottom: 0;
}

.bg-trick-content {
  background-color: #EEF0F1;
  border-radius: 8px;
  box-shadow: 0 0 80px rgba(5, 11, 17, 0.3215686275);
}

.pad-content {
  padding: 50px;
}

.img-title-box {
  display: flex;
  position: relative;
  height: 600px;
  width: auto;
  background: url("../../img/two_skiers_standing_together.webp") no-repeat center;
  background-size: cover;
  z-index: 2;
  margin: 0;
  padding: 0;
  border-radius: 8px 8px 0 0;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}
.img-title-box:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6588235294);
  z-index: -1;
  border-radius: 8px 8px 0 0;
}

.category {
  color: #13967D;
}

.user-picture {
  background-color: #13967D;
  height: 50px;
  width: 53px;
  border-radius: 100%;
}

.comment {
  background-color: #fff;
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 8px;
}

.author {
  font-weight: 600;
  color: #13967D;
}

.date-comment {
  font-size: 0.825rem;
  font-weight: 600;
  color: #cfd0d3;
}

.img-content {
  border-radius: 8px 8px 0 0;
}

.content-infos {
  background-color: #EEF0F1;
  padding: 18px;
  border-radius: 0 0 8px 8px;
}

.title-trick-box {
  font-size: 20px;
  font-weight: 600;
  padding-right: 8px;
  text-decoration: none;
}

.metadata {
  font-size: 14px;
  font-weight: 600;
}

.btn-blue {
  color: #2C3E50;
}
.btn-blue:hover {
  color: #13967D;
}

/*# sourceMappingURL=main.css.map */
