// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.link-btn {
  color: #fff;
}

.btn-delete {
  background-color: #d8dee2;
  font-size: 17px;
  color: #E91F1F;
  padding: 6px 10px;
  border-radius: 4px;
  height: 40px;
  width: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  &:hover {
    background-color: #ccd1d7;
    color: #E91F1F;
  }
}

.btn-modify {
  background-color: #d8dee2;
  font-size: 17px;
  color: #2C3E50;
  padding: 6px 10px;
  border-radius: 4px;
  height: 40px;
  width: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  &:hover {
    background-color: #ccd1d7;
    color: #2C3E50;
  }
}

.btn-muted {
  background-color: #d8dee2;
  font-size: 17px;
  color: #b0b5b6;
  padding: 6px 10px;
  border-radius: 4px;
  border-color: #d8dee2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: not-allowed;
  &:hover {
    background-color: #d8dee2;
    color: #b6b8b9;
  }
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
  color: #b6b8b9;
  background-color: #d8dee2;
  border-color: #d8dee2;
}