.error-msg {
  background-color: #ECF0F1;
  height: 90vh;
  width: auto;
}

.err-404 {
  color: $secondary;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.msg-error-h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.para-error {
  text-align: center;
}