.bg-trick {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: url("../../img/snow_trick_hero_index.webp") no-repeat center;
  background-size: cover;
  z-index: -2;
  margin: 0;
  padding: 0;

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000a8;
    z-index: -1;
  }
  &:after {
    content: "";
    position: absolute;
    height: 400px;
    width: 100%;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 25%, rgba(255,255,255,0.75) 50%, rgba(255,255,255,1) 95%);
    z-index: -1;
    bottom: 0;
  }
}

.bg-trick-content {
  background-color: $bg-light;
  border-radius: 8px;
  box-shadow: 0 0 80px #050b1152;
}

.pad-content {
  padding: 50px;
}

.img-title-box {
  display: flex;
  position: relative;
  height: 600px;
  width: auto;
  //background: url("../../img/two_skiers_standing_together.webp") no-repeat center;
  //background-size: cover;
  z-index: 2;
  margin: 0;
  padding: 0;
  border-radius: 8px 8px 0 0;
  color: $white;
  justify-content: center;
  align-items: center;
  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000a8;
    z-index: -1;
    border-radius: 8px 8px 0 0;
  }
}

.category {
  color: $secondary;
}




// Comment section

.user-picture {
  display: flex;
  background-color: $secondary;
  height: 50px;
  width: 53px;
  border-radius: 100%;
  font-weight: 700;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.comment {
  background-color: #fff;
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 8px;
}

.author {
  font-weight: 600;
  color: $secondary;
}

.date-comment {
  font-size: .825rem;
  font-weight: 600;
  color: #cfd0d3;
}

.bc-not-allowed {
  background-color: $secondary;
  padding: 50px;
  border-radius: 4px;
}