<div class="container-fluid p-0">
    <div class="error-msg d-flex justify-content-center align-items-center">
        <div class="">
            <div class="d-flex justify-content-center">
                <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_zz6gj9bb.json"  background="transparent"  speed="1"  style="width: 300px; height: auto;"  loop  autoplay></lottie-player>
            </div>
            <h1 class="err-404">404 ERROR</h1>
            <h2 class="msg-error-h2">Page introuvable</h2>
            <p class="para-error">Vous devez être connecté où peut être que la page elle n'existe plus</p>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" href="/">Home</a>
            </div>
        </div>
    </div>
</div>