{% extends 'base.html.twig' %}

{% block body %}

    <section>
        <div class="container">
            <div class="padding-fixed-navbar-200">

                <div class="d-flex justify-content-center">
                    <div class="col-md-4">

                        <h1>Se connecter</h1>

                        <form action="{{ path('security_login') }}" method="post">
                            <div class="mb-3">
                                <label for="InputEmail1" class="form-label">Email address</label>
                                <input class="form-control" type="email" required name="_username" placeholder="Votre email" id="InputEmail1" aria-describedby="emailHelp">
                            </div>

                            <div class="mb-3">
                                <label for="InputPassword1" class="form-label">Password</label>
                                <input class="form-control" type="password" required name="_password" placeholder="Votre mot de passe" id="InputPassword1">
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}