{% extends 'base.html.twig' %}

{% block body %}
    <h1>bienvenue dans ce blog</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem cumque hic in incidunt perspiciatis quisquam
        quod reprehenderit? Cupiditate delectus deleniti earum ex, illum quasi quia reiciendis voluptate. Aut autem eius,
        odio officia placeat possimus reprehenderit voluptas? Deserunt obcaecati, velit?
    </p>
    <p>
        Ad aliquam aliquid aspernatur
        atque cum eligendi error esse et expedita harum impedit iure iusto magni minus molestias nesciunt odit pariatur
        porro possimus praesentium provident quam quas quibusdam quidem quo reprehenderit tempore temporibus totam,
        ullam
        voluptates? Ad ducimus velit voluptates.
    </p>
{% endblock %}