<!DOCTYPE html>

{{ include('layout/header.html.twig') }}

<html>

    <body>

        {{ include('layout/navbar.html.twig') }}

        {% block body %}{% endblock %}

        {{ include('layout/footer.html.twig') }}

    </body>
</html>
