// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
.img-content {
  border-radius: 8px 8px 0 0;
  height: 190px;
  object-fit: cover;
}

.images-tricks {
  height: 135px;
  object-fit: cover;
}

.content-infos {
  background-color: $bg-light;
  padding: 18px;
  border-radius: 0 0 8px 8px;
}

.title-default {
  font-size: 1.255rem;
  font-weight: 600;
}

.title-trick-box {
  font-size: 20px;
  font-weight: 600;
  padding-right: 8px;
  text-decoration: none;
}

.metadata {
  font-size: 14px;
  font-weight: 600;
}

.btn-blue {
  color: $primary;
  &:hover {
    color: $secondary;
  }
}